/* Шапка */
.head-title {
}
.studio {
  color: var(--first-text-color);
}
.studio::after {
  content: "";
  position: absolute;
  background-color: currentColor;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
:root {
  --first-text-color: #2196f3;
  --second-text-color: #757575;
  --thirst-text-color: #ffffff;
  --first-background-color: #212121;
  --second-background-color: #f5f4fa;
  --background-hero-footer-color: #2f303a;
}
.header {
  border-bottom: 1px solid #ececec;
  display: flex;
}
.container-header {
  display: flex;
  align-items: center;
}
.container-hero {
  text-align: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.header-logo-help {
  color: var(--first-background-color);
}
/* Container */
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Навігація */
.nav {
}
.nav-list {
  display: flex;
}
.nav-item {
  list-style-type: none;
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--first-background-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--first-text-color);
}
.nav-link:focus::after {
  content: "";
  position: absolute;
  background-color: currentColor;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.header-mailto:hover,
.header-mailto:focus {
  color: var(--first-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--first-text-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-mailto {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--second-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}
.mail-icon {
  margin-right: 10px;
  fill: currentColor;
  padding: 0;
  list-style-type: none;
  width: 16px;
  height: 12px;
}
.tellephone-icon {
  margin-right: 10px;
  fill: currentColor;
  padding: 0;
  list-style-type: none;
  width: 12px;
  height: 16px;
}

.header-tellephone {
  list-style-type: none;
  margin-left: 50px;
  display: flex;
}

/* Hero */
.main {
}
.header-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--background-hero-footer-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg.jpg);
  max-width: 1600px;
  margin: auto;
}
.caption {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--thirst-text-color);
  letter-spacing: 0.06em;
  width: 696px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
/* Кнопка */
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--thirst-text-color);
  border: 0;
  background: var(--first-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #188ce8;
}

.main-text {
  padding-bottom: 0;
}
.list {
  list-style-type: none;
  display: flex;
}
.soft-skills {
  margin-right: 30px;
  width: 270px;
}
.soft-skills:last-child {
  margin-right: 0;
}
.soft-icon {
  background-color: var(--second-background-color);
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.soft-caption {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--first-background-color);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.soft-text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.occupation {
}
.occupation-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--first-background-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.occupation-list {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
}
.occupation-item {
  position: relative;
}
.what-we-do-text {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  color: var(--thirst-text-color);
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.what-we-do-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--thirst-text-color);
  letter-spacing: 0.03em;
}
/* Наша Команда */
.team {
  background-color: var(--second-background-color);
}
.team-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--first-background-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--first-background-color);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-name-text {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--thirst-text-color);
}
.team-list {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
}
.team-iteam {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
/* ICONS */
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-iteam {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
}
.team-soc-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* Clients */
.clients {
}

.clients-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients-list {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  justify-content: center;
}
.clients-icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-iteam {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-iteam:hover,
.clients-iteam:focus {
  border: 1px solid #2196f3;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  color: #2196f3;
}
.clients-icon:hover {
  color: #2196f3;
}
/* Footer */
.footer {
  background-color: var(--background-hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--first-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.footer-address {
  margin-top: 20px;
}
.footer-list {
  list-style-type: none;
}
.footer-iteam {
  margin-bottom: 10px;
}
.footer-iteam:last-child {
  margin-bottom: 0;
}
.map-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--thirst-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-flex {
  margin-right: 70px;
}
/* footer second title */
.footer-second-title {
  padding-top: 0;
  padding-bottom: 0;
  width: 206px;
  height: 80px;
}

.footer-icon-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.footer-text {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-second-iteam {
  margin-right: 10px;
  display: flex;
}
.footer-second-iteam:last-child {
  margin-right: 0;
}
.footer-link-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #2196f3;
}
.footer-icon {
  fill: currentColor;
}
/* Footer label */
.footer-label {
  display: block;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-form {
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
}
.footer-icon-form {
  fill: #ffffff;
  margin-left: 10px;
}
.footer-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: 0;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.footer-input {
  outline: none;
  display: block;
  margin-top: 20px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background: #2f303a;
}
/* Portfolio */
.portfolio-btn {
  font-family: inherit;
  color: var(--first-background-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--first-text-color);
  color: var(--second-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-main {
}
.portfolio-nav {
}

.portfolio-nav-list {
  list-style-type: none;
  display: flex;
  column-gap: 8px;
  margin: auto;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--first-background-color);
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav-item:hover {
  background-color: var(--thirst-text-color);
}
/* IMG Portfolio */
.portfolio-list-img {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.portfolio-item {
  width: 370px;
  position: relative;
}
.portfolio-link-item {
  display: block;
  background: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link-item:hover,
.portfolio-link-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link-hover {
  position: relative;
  overflow: hidden;
}
.project-text {
  display: block;
  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  color: var(--thirst-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.portfolio-link-item:hover .project-text,
.portfolio-link-item:focus .project-text {
  transform: translateY(0);
}
.portfolio-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--first-background-color);
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
  letter-spacing: 0.03em;
  margin-top: 4px;
}
.portfolio-head-text {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}
.map-link:hover,
.map-link:focus {
  color: var(--first-text-color);
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--first-text-color);
}
.footer-title-help {
  color: var(--thirst-text-color);
}
.portfolio-link-item {
  text-decoration: none;
}

/* Скидання */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}
.modal {
  padding: 40px 39px 40px 41px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  display: flex;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  background-color: transparent;
}
.modal-close-icon{
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover{
fill: #2196F3;

}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-form {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.modal-icon {
  position: absolute;
  left: 12px;
  margin-top: 11px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: #188ce8;
}

.modal-label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
}
.modal-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.9;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.modal-field {
  margin-bottom: 10px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
}
.modal-textarea:focus {
  border-color: #2196f3;
}
.modal-label-check {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-link {
  color: #2196f3;
}
.modal-check {
  width: 16px;
  height: 15px;
  visibility: hidden;
}
.modal-check-icon {
  position: absolute;
  left: 12px;
  visibility: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-icon2 {
  position: absolute;
  left: 12px;
  visibility: visible;
  opacity: 1;
}
.modal-check:checked + .modal-check-icon {
  fill: #ffffff;
  visibility: visible;
  background-color: #2196f3;
}
.modal-title2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;
}
